@media screen and (min-width: 1600px) {
	.catalogo {
		grid-template-columns: repeat(3, 1fr);
		margin: auto;
		max-width: 1500px;

		.product__card {
			img {
				width: 400px;
			}
		}

		.product__card:hover {
			* {
				transition: ease 0.25s;
			}

			img {
				filter: brightness(25%);
			}

			.product__hover {
				opacity: 10;
				display: flex;
			}
		}
	}

	.icon {
		width: 88%;
		display: flex;
		justify-content: flex-end;
	}

	section {
		width: 900px;
		margin: auto;

		.pay__steps {
			text-align: center;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 2em;
		}
	}

	.overlay {
		.product__info {
			display: flex;
			flex-direction: column;
			padding: 1em;
			justify-content: space-between;
			height: 100%;
		}

		.product__description {
			height: 100%;
		}

		.product__footer {
			margin-top: 0;

			.product__price {
				margin-right: 1rem;
				font-size: 2.25em;
			}
		}

		.product__card {
			display: grid;
			grid-template-columns: 800px 400px;
			max-width: 1200px;

			img {
				border-radius: 5px 0 0 5px;
			}
		}
	}

	.menu {
		width: 25%;
	}

	.nav {
		.nav__session {
			margin-right: 1em;

			li {
				margin-right: 2em;
			}
		}

		.shopping-cart {
			margin-right: 1em;
		}
	}

	.contact {
		align-items: center;

		.title {
			margin: 2rem 0;
		}

		.contact__elements {
			display: grid;
			grid-template-columns: 660px 400px;
		}
	}
}
