@media screen and (min-width: 1000px) {
	.catalogo {
		grid-template-columns: repeat(3, 1fr);
		margin: auto;
		max-width: 1500px;

		.product__card {
			img {
				width: 300px;
			}

			.product__hover {
				width: 90%;

				.product__hover--name {
					font-size: 1em;
				}
				.product__hover--description {
					font-size: 0.75em;
				}
				.product__hover--price {
					font-size: 1em;
				}
			}
		}

		.product__card:hover {
			* {
				transition: ease 0.25s;
			}

			img {
				filter: brightness(25%);
			}

			.product__hover {
				opacity: 10;
				display: flex;
			}
		}
	}

	.icon {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	section {
		width: 900px;
		margin: auto;

		.pay__steps {
			text-align: center;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 2em;
		}
	}

	.overlay {
		.product__card {
			display: grid;
			grid-template-columns: 550px 300px;
			max-width: 1200px;

			.product__info {
				display: flex;
				flex-direction: column;
				padding: 1em;
				justify-content: space-between;
				height: 100%;
				font-size: 0.75em;

				.product__description {
					font-size: 1.4em;
					height: 100%;
				}

				.product__price {
					margin-right: 1em;
					font-size: 27px;
				}

				.product__footer {
					margin-top: 0;

					button {
						font-size: 0.9em;
					}
				}
			}

			img {
				border-radius: 5px 0 0 5px;
			}
		}
	}

	.menu {
		width: 30%;
	}

	.nav {
		.nav__session {
			margin-right: 1em;

			li {
				margin-right: 2em;
			}
		}

		.shopping-cart {
			margin-right: 1em;
		}
	}

	.contact {
		align-items: center;

		.title {
			margin: 2rem 0;
		}

		.contact__elements {
			display: grid;
			grid-template-columns: 550px 350px;
		}
	}
}
