@media screen and (min-width: 1600px) {
	.catalogo {
		grid-template-columns: repeat(3, 1fr);
		margin: auto;
		max-width: 1500px;

		.product__card {
			img {
				width: 400px;
			}
		}
	}

	.overlay {
		.product__info {
			display: flex;
			flex-direction: column;
			padding: 1em;
			justify-content: space-between;
			height: 100%;

			.product__price {
				margin-left: 1.5rem;
			}

			.product__description {
				height: 100%;
			}

			.product__footer {
				margin-top: 0;
			}
		}

		.product__card {
			display: grid;
			grid-template-columns: 800px 400px;
			max-width: 1200px;

			img {
				border-radius: 5px 0 0 5px;
			}
		}
	}

	.menu {
		width: 25%;
	}

	.contact {
		align-items: center;

		.title {
			margin: 2rem 0;
		}

		.contact__elements {
			display: grid;
			grid-template-columns: 660px 400px;
		}
	}
}
