<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vitae quaerat enim aliquam. Reiciendis sint nemo expedita neque blanditiis id.</p>
    </div>
</section>


<div class="footer--bg">
{{>footer}}
</div>