<div class="header--container">
    <div class="info--header">
        <h1>Regala Eternidad</h1>
        <p>Louise's Roses va dirigido a personas que deseen expresar todo su amor a través de rosas. Son obsequios con calidad de exportación, nuestra meta es satisfacer las necesidades de los clientes ofreciendoles el mejor precio y excelentes productos de calidad.</p>
        <div>
            <a href="#" class="btn">Compra tu rosa</a>
        </div>
    </div>
</div>

