{{>navigation}}

<h3 class="order__title">Solicitud de compra</h3>

<div class="order">
    <form action="/send/order" method="POST" class="form">
        <div class="order__form">
            <p class="center">Rellene el formulario</p>
			<div class="form__group" id="group__clientName">
				<div class="form__group--input">
					<input
						type="text"
						name="clientName"
						class="input"
						placeholder="Nombre"
					/>
					<i class="bi"></i>
				</div>
				<p class="form__error">El nombre tiene que ser de 4 a 16 dígitos y solo puede contener letras.</p>
			</div>
			<div class="form__group" id="group__clientLastname">
				<div class="form__group--input">
					<input
						type="text"
						name="clientLastname"
						class="input"
						placeholder="Apellido"
					/>
					<i class="bi"></i>
				</div>
				<p class="form__error">El apellido tiene que ser de 4 a 16 dígitos y solo puede contener letras.</p>
			</div>
			<div class="form__group" id="group__clientEmail">
				<div class="form__group--input">
					<input
						type="text"
						name="clientEmail"
						class="input"
						placeholder="Email"
					/>
					<i class="bi"></i>
				</div>
				<p class="form__error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
			</div>
			<div class="form__group" id="group__clientPhone">
				<div class="form__group--input">
					<input
						type="text"
						name="clientPhone"
						class="input"
						placeholder="Teléfono"
					/>
					<i class="bi"></i>
				</div>
				<p class="form__error">El teléfono solo puede contener numeros y el maximo son 14 dígitos.</p>
			</div>
            <div class="form__group" id="group__clientCity">
				<div class="form__group--input">
					<input
						type="text"
						name="clientCity"
						class="input"
						placeholder="Ciudad"
					/>
					<i class="bi"></i>
				</div>
				<p class="form__error">Este campo es necesario para su solicitud</p>
			</div>
            <div class="form__group" id="group__clientState">
				<div class="form__group--input">
					<input
						type="text"
						name="clientState"
						class="input"
						placeholder="Estado"
					/>
					<i class="bi"></i>
				</div>
				<p class="form__error">Este campo es necesario para su solicitud</p>
			</div>
        </div>

        <div class="order__form--delivery">
            <p class="subtitle">¿Necesita delivery?</p>
            <div class="form__radio">
                <input type="radio" name="delivery" id="radio1" value="Si" class="order__form--none">
                <input type="radio" name="delivery" id="radio2" value="No" class="order__form--none">

                <label for="radio1" class="order__form--radio1"></label>
                <p>Si</p>
                <label for="radio2" class="order__form--radio2"></label>
                <p>No</p>
            </div>
            <div class="order__note">
                <p>nota.</p>
                <ul>
                    <li>1 - El servicio de delivery incluye un costo adicional.</li>
                    <li>2 - Ciudad Bolívar cuenta con delivery gratuito.</li>
                    <li>3 - En caso de no querer delivery usted tendrá que buscar el producto en nuestra sede en Ciudad Bolívar.</li>
                </ul>
            </div>
        </div>

        <div class="order__form--delivery">
            <p class="subtitle">Selecciona un método de pago</p>
            <div class="form__radio">
                <input type="radio" name="method" id="divisas" value="Divisas" class="order__form--none">
                <input type="radio" name="method" id="transferencia" value="Transferencia bancaria" class="order__form--none">
                <input type="radio" name="method" id="movil" value="Pago movil" class="order__form--none">
                <input type="radio" name="method" id="western" value="Western Union" class="order__form--none">

                <label for="divisas" class="order__form--divisas"></label>
                <p>Divisas</p>
                <label for="transferencia" class="order__form--transferencia"></label>
                <p>Transferencia bancaria</p>                
                <label for="movil" class="order__form--movil"></label>
                <p>Pago movil</p>
                <label for="western" class="order__form--western"></label>
                <p>Western Union</p>
            </div>
        </div>

        <div class="btn-right"><button class="btn" type="submit">Enviar</button></div>

    </form>
</div>

<div class="footer--bg">
    {{>footer}}
</div>