<div class="message">
    <div class="message__card animate__animated animate__fadeInUp">
        <h3 class="title">Solicitud enviada</h3>
        <p>Su solicitud de compra ha sido enviada exitosamente, nos contactaremos con usted en un plazo máximo de 12 horas. Gracias por preferirnos.</p>
        <i class="bi bi-check-circle"></i>
        <div class="message__link">
            <a href="/" class="btn">Página de inicio</a>
        </div>
    </div>
</div>

