<h1>Solicitud enviada</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque hic odio quisquam rem veniam laudantium harum aperiam laborum accusamus necessitatibus!</p>
<a href="/">Home</a>