.alert {
	display: flex;
	justify-content: center;
	flex-direction: row;

	.alert__item {
		box-shadow: 0 0 5px #000;
		width: 90%;
		max-width: $max-width;
		position: absolute;
		background-color: $secondary-color;
		padding: 1em;
		border-radius: 5px;
		z-index: 100000000;
		min-width: $min-width;
		margin: 1em;
		margin-bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			i {
				font-size: 1.5em;
			}
		}
	}

	.alert__item--success {
		p,
		i {
			color: rgb(32, 204, 70);
		}
	}

	.alert__item--danger {
		p,
		i {
			color: rgb(240, 60, 60);
		}
	}
}

// Add class close
.alert__item.close {
	display: none;
}
