.catalogo {
	display: grid;
	grid-template-columns: 1fr;
	margin: auto;
	max-width: 500px;
	padding: 1em;
	gap: 1em;
}

.catalogo.grid {
	min-height: 500px;
}

.product__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	img {
		object-fit: cover;
		width: 300px;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: 0 0 5px #000;
	}

	.product__hover {
		cursor: pointer;
		position: absolute;
		width: 80%;
		z-index: 1000;
		top: 0;
		color: $secondary-color;
		display: none;
		flex-direction: column;
		opacity: 0;
		padding: 1em;

		.product__hover--name {
			font-weight: 400;
			font-size: 1.7em;
		}

		.product__hover--description {
			margin: 1em 0;
		}

		.product__hover--price {
			font-size: 1.7em;
			font-weight: 400;
		}
	}
}

.icon {
	display: flex;
	justify-content: flex-end;
	padding: 0 1rem;

	i {
		font-size: 2.5em;
		color: $third-color;
	}
}
