.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;

	* {
		color: $secondary-color;
	}

	.title {
		margin-bottom: 0.75em;
		font-weight: 400;
	}
}

.contact__elements {
	background-color: $secondary-color;

	.form__inputs {
		display: flex;
		flex-direction: column;
		padding: 1em;

		input:focus,
		textarea:focus {
			background: linear-gradient(transparent, rgb(235, 235, 235));
			outline: none;
		}

		button {
			color: $secondary-color;
			background-color: $primary-color;
		}

		input {
			background: transparent;
			padding: 5px;
			border: none;
			color: $third-color;
			border-bottom: 2px solid $primary-color;
			margin: 0.5em;
		}

		textarea {
			resize: vertical;
			background: transparent;
			padding: 5px;
			border: none;
			margin: 0.5em;
			color: $third-color;
			border-bottom: 2px solid $primary-color-hover;
			height: 100px;
		}
	}

	.contact__info {
		background-color: $third-color;
		padding: 1em;

		h5 {
			text-align: center;
			margin: 1em;
			font-weight: 400;
		}
		li {
			display: flex;
			align-items: center;
			margin: 0.5em;
		}
		p {
			margin: 0.5em;
		}
	}
}
