.contact {
	display: flex;
	flex-direction: column;
	padding: 1em;
	padding-top: 0;
	max-width: $max-width;
	margin: auto;

	* {
		color: $secondary-color;
	}

	.title {
		font-weight: 400;
	}
}

.contact__elements {
	background-color: $secondary-color;

	.form__inputs {
		display: flex;
		flex-direction: column;
		padding: 1em;
		padding-bottom: 0;

		button {
			margin: 1em 0;
			color: $secondary-color;
			background-color: $primary-color;
		}

		input {
			background: transparent;
			padding: 5px;
			border: none;
			color: $third-color;
			border-bottom: 2px solid rgb(230, 230, 230);
			margin: 0.5em;
		}

		textarea {
			resize: vertical;
			background: transparent;
			padding: 5px;
			border: none;
			margin: 0.5em;
			margin-bottom: 0;
			color: $third-color;
			border-bottom: 2px solid rgb(230, 230, 230);
			height: 150px;
		}

		button:focus,
		input:focus,
		textarea:focus {
			border-bottom: 3px solid $primary-color;
		}
	}

	.contact__info {
		background-color: $third-color;
		padding: 1em;

		h5 {
			text-align: center;
			margin: 1em;
			font-weight: 400;
		}
		li {
			display: flex;
			align-items: center;
			margin: 0.5em;
		}
		p {
			margin: 0.5em;
		}

		.contact__message {
			margin: 2em 0;
		}
	}
}
