.footer--bg {
	background: radial-gradient($primary-color, $primary-color-hover);
}

.footer {
	display: flex;
	flex-direction: column;
	padding: 1em;
	align-items: center;

	* {
		color: $secondary-color;
	}

	.footer__links {
		display: flex;
		flex-direction: column;
		margin: 3em 0;

		a {
			text-align: center;
			margin: 1em 0;
		}
	}

	.footer__img {
		margin: auto;
		padding: 2em;
		max-width: 500px;
		margin: 2em 0;

		img {
			width: 100%;
		}
	}

	.footer__social {
		margin: auto;

		ul {
			display: flex;

			li {
				margin: 0.5rem;
			}

			i {
				font-size: 1.7rem;
			}
		}
	}
}

.copyright {
	background-color: $third-color;
	color: $secondary-color;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;

	footer {
		text-align: center;
		font-size: 0.8em;
	}

	a {
		font-weight: 400;
		color: rgb(74, 154, 228);
	}

	a:hover {
		color: rgb(30, 95, 155);
	}
}
