.footer--bg {
	background: radial-gradient($primary-color, $primary-color-hover);
}

.footer {
	display: flex;
	flex-direction: column;
	padding: 1em;

	* {
		color: $secondary-color;
	}

	.footer__links {
		display: flex;
		flex-direction: column;
		margin: 3em 0;

		a {
			text-align: center;
			margin: 1em 0;
		}
	}

	.footer__social {
		margin: auto;

		ul {
			display: flex;

			li {
				margin: 0.5rem;
			}

			i {
				font-size: 1.7rem;
			}
		}
	}
}

.copyright {
	background-color: $third-color;
	color: $secondary-color;
	padding: 1em;

	footer {
		text-align: center;
		font-size: 0.8em;
	}
}
