.header {
	background: radial-gradient($primary-color-hover, rgb(68, 0, 0));
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	* {
		color: $secondary-color;
	}
}

.header__info {
	padding: 2em;
	max-width: $max-width;

	h1 {
		font-size: 2em;
		font-weight: 600;
	}

	* {
		margin: 1em 0;
	}

	div {
		display: flex;
		justify-content: center;
		margin-top: 2em;
	}
}
