// Barra de navegación
nav {
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: space-between;
	background-color: $primary-color;
	height: 50px;

	i {
		font-size: 1.5em;
		margin: 0.5em;
		color: $secondary-color;
	}

	a {
		display: flex;
		align-items: center;
		color: $secondary-color;
	}
}
// --revision--
.nav__session {
	display: flex;

	* {
		color: $secondary-color;
	}
	li {
		margin-right: 0.5em;
		padding: 0.5em;
	}
}

// Menu desplegable
.menu {
	display: none;
	position: fixed;
	background-color: $overlay-bg;
	height: 100vh;
	width: 100vw;
	z-index: 10000;
	flex-direction: column;
	justify-content: space-between;

	* {
		color: $secondary-color;
	}

	.menu__header {
		display: flex;
		height: 50px;
		align-items: center;
		justify-content: space-between;

		i {
			margin: 0.5em;
		}

		.nav__session {
			justify-content: flex-end;
		}

		.menu__icon {
			justify-content: flex-start;

			i {
				font-size: 1.5em;
				margin: 0.5em;
			}
		}
	}

	.menu__links {
		li {
			margin: 4em 0;
			text-align: center;

			a {
				font-size: 1.25em;
			}
		}
	}

	.menu__footer {
		display: flex;
		justify-content: center;
		margin: 1em;
		margin-bottom: 2.5em;

		ul {
			display: flex;

			li {
				margin: 0.5rem;
			}

			i {
				font-size: 1.7rem;
			}
		}
	}
}

// Alerts animation
.animate__slideInLeft,
.animate__slideOutLeft {
	--animate-duration: 0.5s;
	--animate-delay: 0.9s;
}

// Add class open
.menu.open {
	display: flex;
}
