header {
	margin: 2em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	* {
		text-align: center;
		color: $third-color;
	}

	.barra-busqueda {
		box-shadow: 0 0 2px rgb(53, 53, 53);
		min-width: 300px;
		border-radius: 50px;
		margin: 0.5em 0;
		margin-bottom: 2em;
		height: 40px;
		border: none;
	}

	.barra-busqueda:focus {
		background: #fff;
	}

	.categorias {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		a {
			font-weight: 600;
			margin: 0.5em 1em;
			color: rgb(153, 153, 153);
		}

		a:hover {
			color: #000;
			transition: 0.25s;
		}
	}
}
