<div class="alert">
    {{#if error}}
    <div class="alert__item alert__item--danger animate__animated animate__headShake">
        <p><i class="bi bi-exclamation-circle-fill"></i> {{error}}</p>
        <button onclick="closeAlert()"><i class="bi bi-x"></i></button>
    </div>
    {{/if}}

    {{#each errors}}
        <div class="alert__item alert__item--danger  animate__animated animate__headShake">
            <p><i class="bi bi-exclamation-circle-fill"></i> {{text}}</p>
        <button onclick="closeAlert()"><i class="bi bi-x"></i></button>

        </div>
    {{/each}}
</div>