<div class="footer">
	{{!-- Links --}}
	<div class="footer__links">
		<a href="/">Inicio</a>
		<a href="#">Productos</a>
		<a href="#">Carrito</a>
		<a href="#">Pago</a>
		<a href="/about">Sobre nosotros</a>
	</div>

	{{!-- Redes sociales --}}
	<div class="footer__social">
		<ul>
			<li>
				<a href="https://instagram.com/" target="_blank">
					<i class="bi bi-instagram"></i>
				</a>
			</li>
            <li>
				<a href="https://twitter.com/" target="_blank">
					<i class="bi bi-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/" target="_blank">
					<i class="bi bi-facebook"></i>
				</a>
			</li>
			<li>
				<a href="#" target="_blank">
					<i class="bi bi-whatsapp"></i>
				</a>
			</li>
		</ul>
	</div>
</div>

{{!-- Copyright --}}
<div class="copyright">
	<footer>
		Developed And Designed By Loise's Roses. ©2020. All Rights Reserved.
	</footer>	
</div>