{{!-- Navegación --}}
<div class="nav">
    <nav>

        {{#if user}}
            {{!-- Boton de menú --}}
            <ul>
                <li><button class="nav__btn" onclick="toggleMenu(true)"><i class="bi bi-list"></i></button></li>
            </ul>

            {{!-- Icono del carrito --}}
            <ul class="shopping-cart">
                <li><a href="/cart"><i class="bi bi-cart3"></i></a></li>
            </ul>
        {{else}}
            {{!-- Boton de menú --}}
            <ul>
                <li><button onclick="toggleMenu(true)"><i class="bi bi-list"></i></button></li>
            </ul>
            {{!-- Boton de inicio de sesión --}}
            <ul class="nav__session">
                <li><a href="/users/singin">Iniciar sesión</a></li>
                <li><a href="/users/singup">Registro</a></li>
            </ul>
        {{/if}}

    </nav>
</div>
