{{!-- Navegación --}}
<div class="nav--container">
    <nav>

        {{#if user}}
            {{!-- Boton de menú --}}
            <ul class="nav--icon">
                <li><a id="nav--icon"><i class="bi bi-list"></i></a></li>
            </ul>

            {{!-- Icono del carrito --}}
            <ul class="shopping-cart">
                <li><a href="/cart"><i class="bi bi-cart3"></i></a></li>
            </ul>
        {{else}}
            {{!-- Boton de menú --}}
            <ul class="nav--icon">
                <li><a href="#" id="nav--icon"><i class="bi bi-list"></i></a></li>
            </ul>
        {{/if}}

    </nav>
</div>
