{{!-- Navegación --}}
<div class="nav--container">
    <nav>
        <ul class="nav--icon">
            <li><a href="#" id="nav--icon"><i class="bi bi-list"></i></a></li>
        </ul>

        <ul class="shopping-cart">
            <li><a href="#"><h3>0.00$</h3><i class="bi bi-cart3"></i></a></li>
        </ul>
    </nav>
</div>
