<div class="nav--container">
    <nav>
        <ul class="nav--icon">
            <li><a href="#"><i class="bi bi-list"></i></a></li>
        </ul>

        <ul class="shopping-cart">
            <li><a href="#"><h3>0.00$</h3><i class="bi bi-cart3"></i></a></li>
        </ul>

        <div class="nav--menu__container">
            <ul class="nav--menu"> 
                <li><a href="#"></a>Inicio</li>
                <li><a href="#"></a>Productos</li>
                <li><a href="#"></a>Carrito</li>
                <li><a href="#"></a>Pago</li>
                <li><a href="#"></a>Sobre nosotros</li>
            </ul>
        </div>

    </nav>
</div>
