{{!-- Overlay del producto --}}
<div class="overlay" id="overlay">

    {{!-- Targeta del producto --}}
    <div class="product__card">

        {{!-- Boton de cerrado --}}
        <div class="btn--close" id="btn-close">
            <i class="bi bi-x"></i>
        </div>

        {{!-- Imagen del producto --}}
        <img src="" alt="rosa">

        {{!-- Información del producto --}}
        <div class="product__info">

            {{!-- Nombre --}}
            <h3 class="product__name"></h3>
            {{!-- Descripción --}}
            <p class="product__description"></p>

            {{!-- Footer del producto --}}
            <div class="product__footer">

                {{!-- Precio --}}
                <p class="product__price"></p>
                {{!-- Botón del carrito --}} 
                <form action="/cart/add" method="POST">
                    <input type="hidden" name="product__id" class="product__id" value="">
                    <button class="btn" onclick="closePushAlert()">Agregar al carrito</button>
                </form>

            </div>
        </div>
    </div>
</div>