{{!-- Overlay del producto --}}
<div class="overlay" id="overlay">

    {{!-- Targeta del producto --}}
    <div class="overlay--target">

        {{!-- Boton de cerrado --}}
        <div class="btn--close" id="btn--close">
            <i class="bi bi-x"></i>
        </div>

        {{!-- Imagen del producto --}}
        <img src="" alt="rosa">

        {{!-- Información del producto --}}
        <div>

            {{!-- Nombre --}}
            <h3 class="name"></h3>
            {{!-- Descripción --}}
            <p class="description"></p>

            {{!-- Footer del producto --}}
            <div class="overlay--target__footer">

                {{!-- Precio --}}
                <p class="price"></p>
                {{!-- Botón del carrito --}} 
                <form action="/cart/add" method="POST">
                    <input type="hidden" name="ProductId" class="ProductId" value="">
                    <button class="btn" id="product_state">Agregar al carrito</button>
                </form>

            </div>
        </div>
    </div>
</div>