// Variables
$primary-color: #c10016;
$primary-color-hover: #970012;
$secondary-color: #ffffff;
$secondary-color_hover: #d1d1d1;
$third-color: #000;
$gray-color: #1c1c1c;
$crimson-color: #6d000d;
$overlay-bg: rgba(0, 0, 0, 0.98);
$max-width: 700px;
$min-width: 350px;

// Importando componentes
@import './components/global';
@import './components/nav';
@import './components/header';
@import './components/catalogo';
@import './components/overlay';
@import './components/footer';
@import './components/contact';
@import './components/session';
@import './components/cart';
@import './components/alerts';
@import './components/order';
@import './components/message';
@import './components/products';
// Componentes responsive
@import './components/responsive.components/_tablet';
@import './components/responsive.components/pc';
