<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- GOOGLE FONTS --}}
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet"/>
    {{!-- BOOTSTRAP ICONS --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    {{!-- CUSTOM CSS --}}
    <link rel="stylesheet" href="/css/main.css">
    <title>Loise's Roses</title>
</head>
<body>

    {{>menu}}
    {{>navigation}}
    {{>product_overlay}}

    <main class="container">
        {{>messages}}
        {{>errors}}
        {{{body}}}
    </main>

    {{!-- CUSTOM JS --}}
    <script src="main.js"></script>

</body>
</html>