<div class="singin--bg">
    <div class="sing--nav">
        <a href="/"><i class="bi bi-house-door-fill"></i></a>
    </div>
    <div class="singin--container">
        <div class="singin--card">
            <div class="singin--header">
                <img src="/svg/logo--letras--una_tinta.svg" alt="">
            </div>
            <div class="singin--body">
                <form action="/users/singin" method="POST">
                    <div class="form--input">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form--input">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button class="btn">
                        Singin
                    </button>
                </form>
            </div>
        </div>
        <p class="singin--footer">¿Aún no tienes una cuenta? entonces <a href="/users/singup">registrate aquí</a></p>
    </div>
</div>
