<div class="singin--bg">
    <div class="sing--nav">
        <a href="/"><i class="bi bi-house-door-fill"></i></a>
    </div>
    <div class="singin--container">
        <div class="singin--card">
            <div class="singin--header">
                <img src="/svg/logo--letras--una_tinta.svg" alt="">
            </div>
            <div class="singin--body">
                <form action="/users/singup" method="POST">
                    <div class="form--input">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
                    </div>
                    <div class="form--input">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form--input">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form--input">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
                    </div>
                    <button class="btn">
                        Singup
                    </button>
                </form>
            </div>
        </div>
    <p class="singin--footer">¿Ya tienes una cuenta? entonces <a href="/users/singin">inicia sesión</a></p>
    </div>
</div>