<div class="singin--bg">
    <div class="singin--container">
        <div class="singin--card">
            <div class="singin--header">
                Registrate
            </div>
            <div class="singin--body">
                <form action="/users/singup" method="POST">
                    <div class="form--input">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
                    </div>
                    <div class="form--input">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form--input">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form--input">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
                    </div>
                    <button class="btn">
                        Singup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>