<div class="singin--bg">
    <div class="singin--container">
        <div class="singin--card">
            <div class="singin--header">
                Inicio de sesión
            </div>
            <div class="singin--body">
                <form action="/users/singin" method="POST">
                    <div class="form--input">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form--input">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button class="btn">
                        Singin
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
