<div class="session">
    <div class="session__nav">
        <a href="/"><i class="bi bi-list"></i></a>
    </div>
    <div class="session__card">
        <div class="card">
            <div class="card__header">
                <img src="/svg/logo--letras--una_tinta.svg" alt="">
            </div>
            <div>
                <form action="/users/singup" method="POST">
                    <div>
                        <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
                    </div>
                    <div>
                        <input type="email" class="form-control" name="email" placeholder="Correo" value="{{email}}">
                    </div>
                    <div>
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                    <div>
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirma tu contraseña">
                    </div>
                    <button class="btn">
                        Registrarse
                    </button>
                </form>
            </div>
        </div>
    <p class="session__footer">¿Ya tienes una cuenta? entonces <a href="/users/singin">inicia sesión</a></p>
    </div>
</div>